@import "styles/unit.scss";

.studyCard {
  position: relative;
  max-width: rem(274);
  height: rem(205);
  background: linear-gradient(173.19deg, #274441 3.75%, #5a918c 94.67%);
  border-radius: rem(24);
  display: block;
  margin-top: rem(40);
  .container {
    padding: rem(30) rem(24) rem(29) rem(24);
    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        opacity: 0.03;
        font-size: rem(150);
        font-weight: 900;
        margin: 0;
        padding: 0;
        line-height: rem(150);
      }
      .image {
        .icon {
          width: rem(48);
          height: rem(48);
        }
        .leftImage {
          width: rem(97);
          height: rem(88);
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
    .box {
      margin-top: rem(24);
    }
  }
}
