@import "styles/unit.scss";

.university {
  background: #ffffff;
  padding-top: rem(60);
  padding-bottom: rem(61);
  .container {
    padding: 0 rem(96);
    .title {
    }
    .content {
      padding-top: rem(40);
      width: rem(930);
      .link {
        a {
          color: #1b5bf7 !important;
        }
      }
    }
  }
}
