@import "styles/unit.scss";

.faculty {
  // padding: 56px 40px;
  margin-top: 20px;
  .root {
    display: flex;
    // background: rgba(241, 194, 176, 0.16);
    border-radius: 24px;
    padding: 32px;
    position: relative;
    .leftSide {
      .content {
        width: 58%;
        font-weight: 500;
        color: #60645b;
        padding-top: 12px;
        // padding-right: rem(508);
      }
      .listIcon {
        display: flex;
        align-items: center;
        .list1 {
          padding-left: 0;
          .listItem {
            display: flex;
            align-items: center;
            color: #333333;
            margin-top: 34px;
            .block {
              width: 66%;
              margin-left: 16px;
              .listTitle {
                font-weight: 500;
              }
              .listText {
                font-weight: 700;
              }
            }
          }
        }
        .list2 {
          margin-left: 62px;
          .listItem {
            display: flex;
            align-items: center;
            color: #333333;
            margin-top: 27px;
            .block {
              margin-left: 16px;
              width: 66%;
              .listTitle {
                font-weight: 500;
              }
              .listText {
                font-weight: 700;
              }
            }
          }
        }
      }
    }

    .rightSide {
      position: absolute;
      right: 53px;
      bottom: -5px;
      img {
        width: 388px !important;
      }
    }
  }
}
