@import "styles/unit.scss";

.card {
  margin-top: 60px;
  // background: #f7f7f7;
  padding: rem(61) rem(0) rem(62) rem(97);
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.12) 0%,
      rgba(0, 0, 0, 0.12) 27.65%,
      rgba(0, 0, 0, 0.12) 49.61%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("/images/bannerCard/cardBackground.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  .box {
    width: rem(718);
    // padding: rem(40) rem(13) rem(48);
    // width: 689px;
    // height: 341.96px;
    background: #ffffff;
    border-radius: rem(24);
  }
}
