@import "styles/unit.scss";

.card {
  width: rem(280);
  height: rem(273);
  background: #ffffff;
  border-radius: 24px;
  display: block;
  margin-top: rem(40);
  .container {
    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        opacity: 0.03;
        font-size: 150px;
        font-weight: 900;
        margin: 0;
        padding: 0;
        line-height: rem(150);
      }
      .icon {
        width: rem(64);
        height: rem(64);
      }
      .image {
        // width: rem(70);
        height: rem(120);
        margin-top: rem(6);
        // opacity: 0.03;
      }
    }
    .box {
      margin-top: rem(-20);
    }
  }
}
