@import "styles/unit.scss";

.footer {
  width: 100%;
  // height: rem(200);
  background-color: #3c5250;
  color: #ffffff;
  padding: rem(40) rem(96) rem(24) rem(96);
  .container {
    display: flex;
    .box {
      width: 400px;
      .logo {
        margin-right: 40px;
        img {
          width: rem(130);
        }
      }
      .network {
        margin-top: rem(35);
        .list {
          display: flex;
          margin-left: rem(-26);
          padding: 0;
          .listItem {
            list-style-type: none;
            margin-top: rem(8);
            margin-left: rem(26);
            color: #ffffff;
            cursor: pointer;
            display: block;
            img {
              &:hover {
                opacity: 0.8;
                transition: 0.5s;
              }
            }
          }
        }
      }
    }
    .facultyList {
      width: rem(245);
      margin-left: rem(23);
      .list {
        padding: 0;
        margin: 0;
        .listItem:first-child {
          padding-top: 0;
        }
        .listItem {
          list-style-type: none;
          padding-top: rem(24);
          cursor: pointer;
          &:hover {
            color: #429ba9;
            transition: 0.5s;
          }
        }
      }
    }
    .workingList {
      width: rem(245);
      .list {
        padding: 0;
        margin: 0;
        .listItem:first-child {
          padding-top: 0;
        }
        .listItem {
          list-style-type: none;
          padding-top: rem(12);
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }

    .contactList {
      width: rem(300);
      margin-left: rem(66);
      .list {
        padding: 0;
        margin: 0;
        .listItem:first-child {
          padding-top: 0;
        }
        .listItem {
          list-style-type: none;
          padding-top: rem(12);
          display: flex;
          align-items: center;
          cursor: pointer;
          img {
            width: rem(40);
            height: rem(40);
          }
          &:hover {
            color: #429ba9;
            transition: 0.5s;
          }
        }
      }
    }
  }
  hr {
    margin-top: rem(32);
    color: #ffffff;
  }
  .bottomText {
    margin-top: rem(32);
    opacity: 0.8;
  }
}
