@import "styles/unit.scss";

.button {
  padding: rem(13) rem(24);
  border-radius: rem(24);
  background: #3d5754;
  color: #ffffff;
  gap: 8px;
  font-weight: 500;
  font-size: rem(16);
  line-height: rem(18);
  border: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  &:hover {
    transform: translateY(-1px);
  }
  &.fullWidth {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &.medium {
    padding: rem(14) rem(36);
    font-size: rem(18);
  }
  &.small {
    padding: rem(13) rem(24);
    font-size: rem(16);
  }
}
