@import "styles/unit.scss";

.study {
  padding: rem(40) rem(96);
  .container {
    .box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .buttons {
        .prev {
          background: #ffffff;
          box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
          border-radius: rem(100);
          border: none;
          margin-right: rem(16);
          cursor: pointer;
        }
        .next {
          background: #ffffff;
          box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
          border-radius: rem(100);
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}
