@import 'styles/unit.scss';

.banner {
  width: 100%;
  height: 100%;
  background-image: url('/images/bannerImage/bannerBackground.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .container {
    // max-width: 100%;
    // height: 100%;
    // padding-right: 0;
    // padding-left: 0;
    .box {
      height: 100%;
      position: relative;
      .row {
        // height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .leftSide {
          flex: 0 0 50%;
          width: 100%;
          padding: rem(109) 0 rem(74) 0;
          max-width: 50%;
          @media (max-width: 768px) {
            padding: rem(80) rem(16) rem(80) 0;
          }
          .text {
            position: relative;
            .title {
              font-family: 'Gilroy';
              font-style: normal;
              font-weight: 700;
              letter-spacing: 5%;
              color: #1a1a1a;
            }
            .content {
              // width: 100%;
              font-family: 'Gilroy';
              font-style: normal;
              font-weight: 500;
              font-weight: bold;
              padding-top: rem(12);
              color: #333333;
              @media (max-width: 768px) {
                width: 100%;
                font-size: 27px;
              }
            }
          }
          .btnGroup {
            margin-top: 32px;
          }
        }
        .rightSide {
          flex: 0 0 55%;
          width: rem(426);
          height: 100%;
          position: absolute;
          top: rem(31);
          right: 5%;
          bottom: 0;
          max-width: 50%;
          .slick-slide {
            width: rem(420);
          }
          img {
            object-fit: cover;
            height: 419px;
          }
        }
      }
    }
    .circularImage {
      display: flex;
      span {
        position: 'absolute';
        top: 50;
        left: 20;
        .image {
          border-radius: '50%';
        }
      }
    }
  }
}
