@import "styles/unit.scss";

.card {
  .container {
    .title {
      padding: rem(40) rem(0) 0 rem(24);
      color: #1a1a1a;
    }
    .content {
      padding: rem(24) rem(30) 0 rem(24);
    }
    .buttons {
      margin-top: rem(32);
      padding: 0 0 rem(40) rem(24);
      .questionBtn {
        background: #efefef;
        color: #1a1a1a;
        margin-left: rem(16);
      }
    }
  }
}
