@import "styles/unit.scss";

.studyCard {
  max-width: rem(274);
  height: rem(205);
  background: #ffffff;
  border-radius: 24px;
  display: block;
  margin-top: rem(40);
  .container {
    padding: rem(30) rem(28) rem(0) rem(24);
    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        opacity: 0.03;
        font-size: rem(150);
        font-weight: 900;
        margin: 0;
        padding: 0;
        line-height: rem(150);
      }
      .icon {
        width: rem(48);
        height: rem(48);
      }
    }
    .box {
      margin-top: rem(24);
    }
  }
}
