@import "styles/unit.scss";

.licence {
  background: #ffffff;
  padding: rem(60) rem(181) rem(60) rem(96);
  // margin-top: rem(61);
  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .leftSide {
      width: 60%;
      .title {
      }
      .content {
        .title1 {
          margin-top: 12px;
        }
        .title2 {
          // margin-top: 8px;
        }
        .link {
          a {
            color: #1b5bf7 !important;
          }
        }
      }
    }
    .rightSide {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 24px;
      box-shadow: (0px 0px 24px rgba(0, 0, 0, 0.07));
      margin-left: rem(69);
      .imageContent {
        background-image: url("/images/licenceImage/image2.png");
        background-size: 100% 100%;
        padding: rem(84) rem(68) rem(69) rem(24);
        border-radius: 24px 0 0 24px;
        .leftContent {
          color: #ffffff;
          font-weight: 600;
        }
      }
      .image {
        display: flex;
        justify-content: center;
        padding: 46px 49px 43px 52px;
        img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}
