@import "styles/unit.scss";

.inputLabel {
  display: block !important;
  .label {
    margin: 0;
  }
  .input {
    margin-top: 9px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 12px;
    &.fullWidth {
      width: 100%;
    }
  }
}
