@import "styles/unit.scss";

.header {
  background-image: url("/images/bannerImage/bannerBackground.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: rem(80);
  display: flex;
  align-items: center;
  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .rightElement {
      display: flex;
      align-items: center;
      .logo {
        color: var(--secondary-color);
        display: flex;
        align-items: center;
      }
      nav {
        margin-left: rem(40);
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          column-gap: rem(20);
          align-items: center;
          .linkRoute {
            cursor: pointer;
            a {
              color: #1a1a1a;
              font-weight: 600;
            }
          }
          .link {
            cursor: pointer;
            a {
              &:hover {
                color: #1a1a1a;
              }
            }
          }
        }
      }
    }
  }
}
