@import "styles/unit.scss";

.application {
  margin-top: rem(60);
  padding: 0 rem(96) !important;
  .container {
    position: relative;
    background: #ffffff;
    border-radius: rem(24);
    display: flex;
    justify-content: space-between;
    .leftSide {
      border-radius: rem(24);
      display: flex;
      flex-direction: column;
      img {
        width: rem(363);
        height: 100%;
        border-radius: rem(24);
      }
    }
    .rightSide {
      width: 50%;
      padding: rem(60) rem(78) rem(60) 0;
      .form {
        margin-top: rem(40);
        .checkbox {
          display: flex;
          align-items: center;
          margin-top: rem(24);
          margin-left: rem(-10);
        }
      }
    }
  }
}
