@import "styles/unit.scss";

.tabs {
  // background: #f7f7f7;
  padding-top: rem(60);
  .container {
    padding: 0 rem(96);
    .tabList {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
      margin-left: rem(-8);
      margin-top: rem(40);
      .tabItem {
        list-style-type: none;
        padding: 16px 56px;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(40px);
        border-radius: rem(24) rem(24) 0 0;
        margin: 0 8px;
        cursor: pointer;
      }
      .activeTab {
        list-style-type: none;
        padding: 16px 56px;
        backdrop-filter: blur(40px);
        border-radius: rem(24) rem(24) 0 0;
        // margin: 0 16px;
        background: #ffffff;
      }
    }
    .tabContent {
      background: #ffffff;
      border-radius: 0px 24px 24px 24px;
      padding: 40px 56px;
      padding-top: 20px;
      .panelContent {
        // background: red;
        display: none;
      }
      .activeContent {
        display: block;
      }
    }
  }
}
