@import "styles/unit.scss";

.accordion {
  background: #ffffff;
  margin-top: rem(40);
  .container {
    padding: rem(60) rem(96);
    .accordionList {
      margin-top: rem(38);
      .accordionItem {
        background: #f7f7f7;
        padding: rem(32) rem(24) rem(24) rem(24);
        border-radius: rem(24);
        margin-top: rem(12);
        cursor: pointer;
        .text {
          transition-duration: 0.5s;
          transition: 1s ease-in-out;
          transform-origin: center;
        }
      }
    }
  }
}
